{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% load course_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}MetaCourses: {% block head_title %}{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block style_base %}
            <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
            <link href="{% static "css/base.css" %}" rel="stylesheet">
            {% block extra_style %}{% endblock %}
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}

        {% block script_base %}
            <script src="{% static "jquery.min.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>
            <script src="{% static "js/csrf_fix.js" %}"></script>
            {% block extra_script %}{% endblock %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-34356457-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

        {% block topbar_base %}
            <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar %}
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            {% block site_brand %}<a class="brand" href="{% url "home" %}">MetaCourses</a>{% endblock %}
                            <div class="nav-collapse">
                                {% block nav %}
                                    <ul class="nav">
                                        {% split_list categories as chunked_categories 3 %}
                                        {% split_list schools as chunked_schools 3 %}
                                        {% split_list materials as chunked_materials 3 %}
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">Categories</a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <li>
                                                    <div class="span9">
                                                        {% for chunk in chunked_categories %}
                                                            <div class="row">
                                                                {% for category in chunk %}
                                                                    <div class="span3">
                                                                        <a style="white-space:normal;" href="{{category.get_absolute_url}}">
                                                                            {{category|title}}
                                                                        </a>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">Materials</a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <li>
                                                    <div class="span9">
                                                        {% for chunk in chunked_materials %}
                                                            <div class="row">
                                                                {% for material in chunk %}
                                                                    <div class="span3">
                                                                        <a style="white-space:normal;" href="{{material.get_absolute_url}}">
                                                                            {{material|title}}
                                                                        </a>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">Schools</a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <li>
                                                    <div class="span9">
                                                        {% for chunk in chunked_schools %}
                                                            <div class="row">
                                                                {% for school in chunk %}
                                                                    <div class="span3">
                                                                        <a style="white-space:normal;" href="{{school.get_absolute_url}}">
                                                                            {{school|title}}
                                                                        </a>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% endblock %}
                                {% block search_bar %}{% include "_searchbar.html" %}{% endblock %}
                                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block body_base %}
            <div class="container-fluid" style="margin-top:80px;min-height:300px;">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span10">
                        {% include "_messages.html" %}
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block footer_base %}
            {% comment %}
            <div id="footer">
                <div class="inner">
                    <div class="container-fluid" style="padding:0px;">
                        {% block footer %}
                            <div class="container-fluid bordered-top" style="padding-top:0px;background:white;position:{% block footer_position %}relative{% endblock %};bottom:0px;left:0px;right:0px;" >
                                {% include "_footer.html" %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
            {% endcomment %}
        {% endblock %}


        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
